.about-container {
    width: 100%;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
}   
.about-strong {
    color: var(--color-primary), #000;
}
.about-link {
    color: var(--color-secondary), #000;
    text-decoration: underline;
}
.about-link:hover {
    color: var(--color-background), #000;
}

.about-section {
    font-size: 1.2rem;
    line-height: 1.2;
    display: inherit;
    flex-direction: inherit;
    justify-self: center;
    margin: 1rem 2rem 0 2rem;
    background-color: var(--color-muted);
    width: 1000px;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
.about-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.about-container:last-child {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1400px) {
    .about-section {
        width: 1000px;
        max-width: 1000px;
    }
    .about-section h2 {
        font-size: 2rem;
    }
    .about-section {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1200px) {
    .about-section {
        width: 800px;
        max-width: 800px;
    }
    .about-section h2 {
        font-size: 1.6rem;
    }
    .about-section {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1024px) {
    .about-section {
        width: 625px;
        max-width: 625px;
    }
    .about-section h2 {
        font-size: 1.4rem;
    }
    .about-section {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .about-section {
        width: 450px;
        max-width: 450px;
    }
    .about-section h2 {
        font-size: 1.3rem;
    }
    .about-section {
        font-size: 1rem;
    }
}

@media screen and (max-width: 555px) {
    .about-section {
        width: 275px;
        max-width: 275px;
    }
    .about-section h2 {
        font-size: 1.2rem;
    }
    .about-section {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .about-section {
        width: 75%;
        max-width: 75%;
    }
    .about-section h2 {
        font-size: 1.1rem;
    }
    .about-section {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 350px) {
    .about-section {
        width: 90%;
        max-width: 90%;
    }
    .about-section h2 {
        font-size: 1rem;
    }
    .about-section {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1401px) {
    .about-section {
        width: 100%;
        max-width: 70vw;
    }
    .about-section h2 {
        font-size: 2rem;
    }
    .about-section {
        font-size: 1.3rem;
    }
}